body {background-color: #00A86B;}
head {background-color: #00A86B;}

a {color: #FFF;}
a:hover {color: #FFD362;}

p {
  text-align: center;
  color: #FFF;
}

td {
  color: #FFF;
}
h1{
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

.main_table{
  align-items: center;
  border-radius: 10px;
  border: 1px solid #FFEEEE;
}

.sub_table{
  border-radius: 10px;
  border: 1px solid #FFEEEE;
}

.MyButton {
  width: 200px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
  background: #00A86B;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 10px;
}

.MyButton:hover {
  color: #FFF;
  background: #FFD362;
  border: 1px solid #fff;
}

.TextTitle{
  font-weight: bold;
}