h1{
  color: #FFAAA6;
  text-align: center;
}

p{
  color: #555555;
  font-size:17px;
  font-style: italic;
  text-align: center;
}

button{
  background-color: #FFAAA6;
  color: #ffffff;
  font-size: 20px;
}

