<!DOCTYPE html>

<html lang="ko">
<head>
  <meta charset="utf-8" />
  <link rel= "stylesheet" type="text/css" href="/static/css/board.css" />
  <h1>나는야 작가고 시인이고 멋쟁이</h1>
  <title>Uzu_write</title>
</head>

<body>
<center> Hello, '{{ name }}' </center>
  <table width=700>
      <tr>
          <td>
              <form name=Myname method=post action="/searchWithSubject/"></form>
              <p align=right><input type=text name=searchStr size=50  maxlength=50>
              <input class="MyButton" type=button value="우주글찾기"></p>
          </td>
      </tr>
  </table>
</body>
</html>