{% load static %}
<br/> <br/><br/>

<head>
    <title>Uzu_Board</title>
    <link rel="stylesheet" href="{% static 'css/board.css' %}" type = "text/css">
    <h1>우주 재밌고 슬프고 웃기고 감동적인 이야기가 넘치는 우주게시판</h1>
</head>

<br/> <br/><br/>
<body>
<center>
<table cellspacing=0 width=700 border=0>
    <tr>
        <td>총 게시물이 몇개야!? {{ totalCnt }}</td>
        <td><p align=right> 현재쟝구 페이지는 {{ current_page }}
        </td>
    </tr>
</table>

<table class="main_table" cellspacing=0 width=700 >
    <tr>
        <td width=50><p align=center>번호</p>
        </td>
        <td width=100><p align=center>이름</p>
        </td>
        <td width=320><p align=center>제목쟝구</p>
        </td>
        <td width=100><p align=center>등록일</p>
        </td>
    </tr>

    {% if boardList %}
        <ul>
            {% for boardRow in boardList %}
            <tr>
            <td width=50><p align=center>{{ boardRow.id }}</p></td>
            <td width=100><p align=center>{{ boardRow.name }}</p></td>
            <td width=320>
                <p align=center>
                    <a onclick="window.location='/board-read/{{ boardRow.pk}}'" >{{ boardRow.subject }}</a>
                </p>
            </td>
            <td width=100><p align=center>{{ boardRow.created_date }}</p></td>
            </tr>
            {% endfor %}
        </ul>
    {% else %}

        <p>No Data.</p>
    {% endif %}
</table>


<table cellspacing=0 width=700 border=0 >
    <tr>
        <td>
        {% for page in totalPageList %}
            <a href="/listSpecificPageWork?current_page={{page}}" ></a>
            [
            {% ifequal page current_page %}
                <b>
            {% endifequal %}
            {{page}}

            {% ifequal page current_page  %}
                </b>
            {% endifequal %}
            ]
        {% endfor %}
        </td>
    </tr>
</table>


<br/> <br/>
<table width=700>
    <tr>
        <td>
            <input class="MyButton" type=button value="우주글쓰기" onclick="window.location='/board-write/'" >
        </td>

        <td>
            <form name=searchf method=post action="/searchWithSubject/"></form>
            <p align=right><input type=text name=searchStr size=50  maxlength=50>
            <input class="MyButton" type=button value="우주글찾기"></p>
        </td>
    </tr>
</table>
</center>
</body>
