<!DOCTYPE html>

<html lang="ko">
<head>
  <meta charset="utf-8" />
  <link rel= "stylesheet" type="text/css" href="/static/css/board.css" />
  <h1>나는야 작가고 시인이고 멋쟁이</h1>
  <title>Uzu_write</title>
</head>

<form method="post" action="/add/">
	{% csrf_token %}
	<p><label for="name">키미노나마에와</label><input type ="text" id="naem" name="name" value=""/></p>
	<p><label for="title">제목</label><input type="text" id="title" name="title" value="" /></p>
	<p><textarea id="contents" name="contents"></textarea></p>
	<p><input type="submit" value="등록쟝구" /></p>
</form>


</html>
