
body {background-color: #00A86B;}
head {background-color: #00A86B;}

h1{
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

p{
  color: #FFF;
  font-size:17px;
  font-style: italic;
  text-align: center;
}

button{
  background-color: #00A86B;
  color: #ffffff;
  font-size: 20px;
}

input.MyButton {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  background:  #00A86B;
  color: #fff;
  border: 1px solid #FFF;
  border-radius: 10px;
}

input.MyButton:hover {
  color: #FFF;
  background: #FFD362;
  border: 1px solid #fff;
}
