<!DOCTYPE html>

<html lang="ko">
<br/><br/>
<head>
  <meta charset="utf-8" />
  <link rel= "stylesheet" href= "/static/css/main.css/" />
  <h1>룰루랄라 멋진 구닌 페이지</h1>
  <title>Uzu_main</title>
</head>

<br/> <br/>
<body>
  <p>안녕하세요 푸드득 구닌페이지 입니다<br/>
      군인 친구들 어서 제대하세요!<br/>
      오늘도 행복한 하루!</br/>
  </p>
<br/> <br/>
  <center>
    <form>
    <input class="MyButton" type="button" value="우주 담소의장" onclick="window.location='/board/'" />
    </form><br/>

    <form>
    <input class="MyButton" type="button" value="우주 스케줄" onclick="window.location='/schedule/'" />
    </form><br/>

    <form>
    <input class="MyButton" type="button" value="우주 우체국" onclick="window.location='/letters/'" />
    </form><br/>

  </center>
</body>
</html>



